<!-- {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="music-player">

    </div>
    {% for items in page_object %}
        <div class="cover">
            <img src="{{items.image.url}}">
        </div>

        <div class="title">
            
            <h3>
                {{items.artist}}
            </h3>
            <h3>
                {{items.title}}
            </h3>
        </div>

        <center>
            <a href="{% if page_object.has_previous %}?page={{page_object.previos_page_number}}{%endif%}">
            <a href="{% if page_object.has_previous %}?page={{ page_object.previous_page_number }}{% endif %}">
    
                <i class="fa fa-step-backward fa-2x"></i>
            </a>&nbsp; &nbsp; &nbsp; 
            <a href="{% if page_object.has_next %}?page={{page_object.next_page_number}}{% endif %}">
                <i class="fa fa-step-forward fa-2x"></i>
            </a>
        </center>

        <div class="links">
            <audio style="width: 100%;" controls>
                {% if items.audio_file %}
                    <source src="{{ items.audio_file.url }}" type="audio/mp3">
                {% else %}
                    <source src="{{ items.audio_link }}" type="audio/mp3">
                {% endif %}
            </audio>
            
        </div>
    {% endfor %}
</body>
</html> -->
