body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    width: 100%; /* Ensure the container takes up full width */
}

/* Navbar styles */
.nav {
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    background-color: #504088; /* Change background color */
    padding: 10px;
    border-bottom: 1px solid #2980b9; /* Darker border color */
    list-style-type: none;
}

.nav img {
    margin-right: 10px; 
}

.nav .nav-msg {
    margin-right: auto; 
    font-size: 25px;
    color: #fff; 
}

/* Image Nav */
.image-nav {
    position: relative;
    cursor: pointer;
}

.image-nav img {
    margin-right: 50px;
    height: 82px;
    width: 82px;
    border-radius: 50%; /* Add border radius for circular shape */
    border: 2px solid #fff; /* White border */
    transition: transform 0.3s ease; /* Add transition effect */
}

.image-nav img:hover {
    transform: scale(1.1); /* Scale image on hover */
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.side-bar-exam {
    position: fixed;
    width: 270px;
    height: 100%;
    background-color: #999443; /* Change sidebar background color */
    list-style-type: none;
    margin: 0; /* Remove default margin */
    padding: 15px;
    font-size: 18px;
}

.side-data{
    margin-bottom: 10px;
    padding: 12px;
    color: #fff; 
    cursor: pointer;
}

.side-data a:hover{
    background-color: #333;
    padding: 9px;
}

.side-dash{
    margin-bottom: 10px;
    color: #fff; 
    cursor: pointer;
    margin: 0;
    text-decoration: none;
}

.side-dash a:hover{
    background-color: #333;
    padding: 9px;
    
}

.sub-menu {
    cursor: pointer;
}

.sub-menu a:hover{
    background-color: #333;
}




#iframeContainer {
    border: 1px solid black;
    display: fixed; /* Position the iframe fixedly */
    margin-left: 283px; /* Adjust the left margin as needed */
    margin-top: 30px;
    width: 78%; /* Adjust width as needed */
    height: calc(100vh - 155px); /* Make iframe full height of the viewport */
    border: none; /* Remove iframe border */ 
    position: fixed;   
}