/* Form styling */
form {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center; /* Align items vertically */
    margin-bottom: 20px; /* Add space below the form */
    height: auto;
}

label {
    font-weight: bold; /* Make labels bold */
}

/* Select dropdown styling */
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
    margin-right: 20px; /* Adjust margin as needed */
}

/* Submit button styling */
input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px; /* Add padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Table styling */
.hardware-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Add space above the table */
}

.hardware-table th,
.hardware-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.hardware-table th {
    background-color: #504088;
    color: #333;
}

/* CSS for the message when no data is found */
.message {
    color: red; 
    font-weight: bold; 
    text-align: center;
    margin-top: 20px;
}
