.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.view_msg{
    margin-left: 84px;
    margin-bottom: 20px;
    display: inline-flex;
    width: 596px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    padding: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 100px; /* Adjust as needed */
}

input[type="submit"] {
    width: 150px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Hover effect for the submit button */
input[type="submit"]:hover {
    background-color: #0056b3;
}
