/* Reset some default styles for the body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: white;
    width: 100%;
    height: 100%;
}

/* Styling for the container that holds the heading */
.container {
    width: 97%;
    background-color: #5016f2;
    box-shadow: 0px 0px 10px;
    padding: 20px;
    text-align: left;
    color: white;
}

/* Styling for the aside bar */
.aside_receptinist {
    width: 210px;
    height: 100vh; /* Adjust the height as needed */
    background-color: #8173dd;
    color: white;
    float: left;
}

/* Styling for the main content area */
.detail_dash {
    width: 190px; /* Adjust width based on the aside width */
    height: 100%;
    padding: 15px;
    float: left;
}

/* Styling for links in the main content area */
.detail_dash ul[name='ul_detail'] {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0;
}

.detail_dash a[name='detail_link'] {
    
    display: block;
    padding: 20px;
    background-color: #8173dd;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
   
}

/* Hover effect for links in the main content area */
.detail_dash a[name='detail_link']:hover {
    background-color: #1e1b1b;
}

/* Styling for the iframe */
#iframeContainer {
    background-color: white;
   
    border: none;
    height: 100vh; /* Adjust the height as needed */
    width: 84.2%; /* Adjust width based on the aside width */
    float: left;
}
