body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    
}

.container {
    width: 30%;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}

h2 {
    text-align: center;
    color: #333;
}

.container input,
.container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #45a049;
}

.container textarea {
    resize: vertical;
}

/* Add styling for the gender dropdown */
.gender select {
    width: 100%;
    padding: 10px;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #555; /* Text color */
}

/* Style the placeholder text */
.gender select option[disabled] {
    color: #999; /* Set placeholder color */
}

/* Optional: Add more styling based on your preferences */
.name,
.email,
.mobile,
.add,
.age,
.dieases,
.history,
.submit,
select {
    margin-bottom: 15px;
    padding: 2px;
}

/* CSS for username and password fields */
.username label,
.password label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.username input,
.password input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.username input[type="text"],
.password input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.username input[type="text"]:focus,
.password input[type="password"]:focus {
    border-color: #4caf50; /* Change border color on focus */
}

/* Optional: Adjust the styling of the form elements based on your design */
